body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.login {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 50px auto;
  max-width: 400px;
}

.login h1 {
  margin: 0 0 20px;
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 10px;
}
.login input[type="email"],
.login input[type="text"],
.login input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background-color: #3e8e41;
}

.error {
  color: #ff0000;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para el encabezado */
#encabezado {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos para la barra de navegación */
#barra-navegacion {
  background-color: #444;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

/* Estilos para los enlaces de la barra de navegación */
#barra-navegacion a {
  display: inline-block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

/* Estilos para los enlaces de la barra de navegación al pasar el ratón */
#barra-navegacion a:hover {
  background-color: #555;
}

/* Estilos para el contenido */
#contenido {
  padding: 20px;
  text-align: center;
}

/* Estilos para la tabla */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
}
